@charset "utf-8";
.business {
  position: relative;
  padding: 100px 0;
  text-align: center;
}
.business-top {
  margin-bottom: 70px;
}
.business-title {
  font-size: 44px;
  position: relative;
}
.business-title::after {
  content: "";
  position: absolute;
  top: 80px;
  left: 50%;
  transform: translateX(-50%);
  width: 60px;
  height: 5px;
  background-color: #f7030b;
}
.business-desc {
  padding-top: 50px;
}
/* 이미지태그안쓰고 백그라운드로 넣기 위해서 높이값설정함 */
.business-list {
  position: relative;
  width: 100%;
  height: 420px;
  display: flex;
}
.business-list li {
  width: calc(100% / 5);
  background: url("../images/img_business.png") no-repeat;
  background-position: 0px 0px;
}
.business-list li:nth-child(1) {
  background-position: calc(240px * 0) 0px;
  /* 위에 calc와 아래 0px 같은 의미임 */
  /* background-position: 0px 0px; */
}
.business-list li:nth-child(2) {
  /* background-position: -240px 0px; */
  /* 아래 calc와 위에 -240px 같은 의미임 */
  background-position: calc(240px * -1) 0px;
}
.business-list li:nth-child(3) {
  background-position: calc(240px * -2) 0px;
}
.business-list li:nth-child(4) {
  background-position: calc(240px * -3) 0px;
}
.business-list li:nth-child(5) {
  background-position: calc(240px * -4) 0px;
}
.business-list li a {
  width: 100%;
  height: 100%;
  display: block;
  font-size: 24px;
  padding: 100px 0;
  color: #fff;
  background-color: rgba(244, 128, 37, 0);
  transition: all 0.2s;
  position: relative;
}
/* backgroun 이미지로 가져올려면 너비높이 있어야함 */
.business-list li a::after {
  content: "";
  position: absolute;
  bottom: 90px;
  left: 50%;
  transform: translateX(-50%);
  background: url("../images/bg_common.png") no-repeat;
  /* 너비 높이는 이미지의 크기를 피그마에서 영역 크기로 잡아서 px 확인해서 입력함 */
  width: 130px;
  height: 112px;
  background-position: 0px 0px;
  opacity: 0;
  transition: all 0.5s;
}
.business-list li a:hover::after {
  opacity: 1;
}
.business-list li:nth-child(1) > a::after{
    background-position: -169px 0;
}

.business-list li:nth-child(2) > a::after{
    background-position: -298px 0;
}

.business-list li:nth-child(3) > a::after{
    background-position: 0px -117px;
}

.business-list li:nth-child(4) > a::after{
    background-position: -139px -117px;
}
.business-list li:nth-child(5) > a::after{
    background-position: -270px -117px;
}

.business-list li a:hover {
  background-color: rgba(244, 128, 37, 1);
}
